#
# Copyright (C) 2026 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Send the new findings to the export endpoint on schedule

[Timer]
OnCalendar=minutely
AccuracySec=1s

[Install]
WantedBy=timers.target
