#
# Copyright (C) 2026 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Mail a summary of the new findings

[Service]
Type=oneshot
EnvironmentFile=%E/state/environment
WorkingDirectory=%E/state
SyslogIdentifier=%N
ExecStart=runagent send-findings --email
