#
# Copyright (C) 2026 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

# This unit creates the pod. The three Wazuh containers join it.

[Unit]
Description=Podman wazuh.service
Requires=wazuh-indexer.service wazuh-manager.service wazuh-dashboard.service
Before=wazuh-indexer.service wazuh-manager.service wazuh-dashboard.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%E/state/environment
WorkingDirectory=%E/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/wazuh.pid %t/wazuh.pod-id
ExecStartPre=runagent fix-perms
# Wazuh components reach each other by name, so the pod resolves them to localhost.
# Ports 1514, 1515 and 1517 are for the agents, the dashboard stays on localhost for Traefik.
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/wazuh.pid \
    --pod-id-file %t/wazuh.pod-id \
    --name wazuh \
    --add-host wazuh.indexer:127.0.0.1 \
    --add-host wazuh.manager:127.0.0.1 \
    --publish 127.0.0.1:${TCP_PORT}:5601 \
    --publish 1514:1514 \
    --publish 1515:1515 \
    --publish 1517:1517 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/wazuh.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/wazuh.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/wazuh.pod-id
PIDFile=%t/wazuh.pid
Type=forking

[Install]
WantedBy=default.target
